
.wrap{Text-align:center; width:90%; margin: 0 auto; border: 0px solid black; margin-top:25px;}
.header{ text-align:left;padding:25px;}
.headerImg {float:left; width:200px;}
.headerText {float:left; height:105px; padding-top:50px; padding-left:25px;}

table {
     border-collapse: collapse;
     width: 20%;
     background-color: #d2b48c;
     color: #696969
}

h1 {
    
    color: #FFFF99
}

 table, th, td {
     border: 3px solid black;
}

td {
     height: 10px;
     vertical-align: middle;
}

th, td {
     padding: 20px;
}

tr:hover {background-color: #CCCCCC;}


tr:nth-child(even) {background-color: #F2F2F2;}


th {
    background-color: #FFFF99;
    color: #d2b48c;
    text-align: left;
    height: 10px;
}
body {
    background-color: #F08080;
    text-align: left;
}

html, body {
    width: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFF99;
    
}
table {
    margin: 0 auto;
}

input { 
    
    text-align: left; 

}

input[readonly] {
background-color: gray;
}


.navcontainer { margin-left: 30px; text-align:left; }

 /*Fat Erik's Pipelist*/
 /*http://css.maxdesign.com.au/listamatic/horizontal32.htm */
 .navlist
 {
 list-style: none;
 padding: 0;
 margin: 0;
 }

 .navlist li
 {
 display: inline;
 padding: 0;
 margin: 0;
 }

 .navlist li:before { content: "| "; }
 .navlist li:first-child:before { content: ""; }

 /*IE workaround*/
 /*All IE browsers*/
 * html #navlist li
 {
 border-left: 1px solid black;
 padding: 0 0.4em 0 0.4em;
 margin: 0 0.4em 0 -0.4em;
 }

 /*Win IE browsers - hide from Mac IE\*/
 * html .navlist { height: 1%; }

 * html .navlist li
 {
 display: block;
 float: left;
 }

 /*End hide*/
 /*Mac IE 5*/
 * html .navlist li:first-child { border-left: 0; }


